*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 60px;
    width: 100vw;
    /* background-color: blueviolet; */
    display: flex;
}
.header_logo{
    height: inherit;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.header_pesquisa_container{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_pesquisa_container input[type=submit]{
    width: 40px;
    height: 40px;
    border: 0;
    padding: 10px 16px;
    user-select: none;
    text-align: center;
    background-color: #f3f3f3;

}
.lupa{
    background: url('img/magnifier_icon-icons.com_48267.png') no-repeat;
    background-size: 20px;
    background-position: center;
}

input[type=submit]:hover{
    opacity: .75;
    transition: opacity .3s;
    cursor: pointer;
}


/* span{
    margin-left: 20px;
} */

.input_pesquisa{
    height: 40px;
    width: 600px;
    border: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    background-size: 25px;
    outline: none;
    font-size: 1rem;
}

main{
    height: 100vh;
    width: 100vw;
    padding: 10px;
    background-color: #e8eaec;
}

.galeria{
    height: 290px;
    width: 400px;
    background-color: gray;
    position: absolute;
}

.galeria_imagem{
    height: 100%;
    background-color: khaki;
    /* position: absolute; */
    /* margin-top: 150px; */
}

.galeria_container:hover .galeria_info{
    visibility: visible;
}

.galeria_info{
    height: 50px;
    display: flex;
    /* bottom: -150; */
    /* left: 0; */
    position: absolute;
    width: 100%;
    background-color: rgb(61, 56, 8);
    margin-top: -50px;
    visibility: hidden;
}

.itens_relacionados a{
    text-decoration: none;
    margin: 4px;
    color: white;
    padding: 8px;
}

.itens_relacionados a:hover {
    background-color: rgba(255, 255, 255, 0.459);
}

.itens_relacionados{
    height: inherit;
    width: 60%;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;

}

.itens_interacao{
    height: inherit;
    width: 40%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
}

.itens{
    margin: 8px;
    font-size: 20px;
    color: white;
}

.itens :hover {
    background-color: rgba(255, 255, 255, 0.459);
}